.container {
    height: 100%;
    background-color: rgba(3, 6, 15, 0.107);
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .form {
    width: 30rem;
    margin: auto;
    background-color: rgb(235, 235, 235);
    padding: 4rem 1rem;
    border-radius: 1rem;
 }
 
 .tiltle-center {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   line-height: 35px;
   color: #1A202C;
 }
 
 img {
    height: 15rem;
    width: 100%;
    margin: 1.5rem auto 1.5rem auto;
 }
 
 .full-width {
    width: 100%;
 }
 
 button {
    margin-top: 1.5rem;
 }
 
 mat-icon {
    opacity: 0.6;
 }

 h4 {
   color: #2D3748;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
 }